body {
  background-color: #313131;
  font-family: 'Roboto Mono', monospace;
}

section {
  margin-top: 100px;
  background-color: #c4c4c4;
  padding: 15px;
  width: 500px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 50px black;
}
header {
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  border-radius: 10px;
  background-size: cover;
  height: 100px;
}
.nome {
  text-align: center;
  margin-bottom: 10px;
}
.nome h1 {
  margin-bottom: 5px;
}
.redes:link {
  color: black;
}
.redes:visited {
  color: black;
}
.insignias h2 {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 280px;
  z-index: 1;
  position: relative;
  background-color: rgb(224, 224, 224);
}
ol {
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
  list-style-type: none;
  transform: translateY(-17%);
  background-color: rgb(224, 224, 224);
}

img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 5px solid white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
}

a:link {
  color: #167bf7;
  text-decoration: none;
}
a:visited {
  color: #167bf7;
  text-decoration: none;
}
